registry=https://pkgs.dev.azure.com/sabidhawsdevops2657/_packaging/sabidhawsdevops2657/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/sabidhawsdevops2657/_packaging/sabidhawsdevops2657/npm/registry/:username=sabidhawsdevops2657
//pkgs.dev.azure.com/sabidhawsdevops2657/_packaging/sabidhawsdevops2657/npm/registry/:_password=Y2hycXo0aHBzM3gzdGlvM3lrYXNrY2EyYWR4cno2czVidXA1amJoa3ZjYmg0bWNxcmFxcQ==
//pkgs.dev.azure.com/sabidhawsdevops2657/_packaging/sabidhawsdevops2657/npm/registry/:email=npm requires email to be set but doesn't use the value
; end auth token

